.simpleForm input{
  font-size:14px !important;
  widows: 100%;
}

.simpleForm input[type=date]{
  font-size:14px !important;
  color:gray !important;
  widows: 100%;
}

.simpleForm input[type=time]{
  font-size:14px !important;
  color:gray !important;
  widows: 100%;
}

.simpleForm select{
  font-size:14px !important;
  color:gray !important;
  widows: 100%;
}

.simpleForm label{
  font-size: 8px;
  color: grey;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: rgb(97, 175, 46);
    text-align: center;
    color: white;
    margin: 2px;
    padding: 10px;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
