.margin{
    margin-left: 3%;
    margin-right: 5%;
}
.margin2{
    position:absolute;  
    left:0;
    margin-left: 85%; 
}
.nextButton{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color:#faa61f;
    border:2px solid #faa61f;
    position:absolute;  
    left:0;
    margin-top: -15px;
    margin-left: 70%;
  }
  .Green{
      background-color: #00FF00 !important; 
  }
  .Yellow{
      background-color: #fffd03 !important; 
  }
  .Orange{
      background-color: #f6931b !important; 
  }
  .Red{
      background-color: #fe0100 !important; 
  }
  .RedWine{
      background-color: #891a20 !important; 
  }
  .left{
      text-align: left !important;
  }